@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}

header {
  background-color: #263d36;
  background-image: url("desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 6vw 1em;
  text-align: center;
}

body {
  background-color: #f8f1ed;
  font-family: "Lato", sans-serif;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-top: 17px;
}

p {
  text-align: left;
}

ul {
  text-align: left;
  margin-top: -10px;
}

li {
  padding: 2px;
}

img {
  border: 2px solid;
  padding: 1px;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.content {
  display: inline-block;
}

.ulmenu {
background-color: rgb(228, 144, 42);
text-align: center;
padding: 5px;
}

.limenu {
  display: inline-block;
}

.amenu {
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  background-color: rgb(185, 124, 50);
  color: black;
}

.divmenu {
  background-color: rgb(228, 144, 42);
  margin-top: -14px;
}

.amenu:hover {
  color: rgb(51, 38, 2);
  text-decoration: none;
  background-color: rgb(209, 117, 5);
}

.box {
  border: black solid;
  padding: 20px;
  margin-top: 50px;
}

